body{
    margin: 0;
    height: 100vh;
}

canvas{
    display: block;
}
/* .background{
    color: black;
} */
h1{
    position: absolute;
    top: 2em;
    left: 2em;
    font-family: 'Montserrat';
    font-size: 4em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid black;
    padding: .3em;
}